 body{
     color:#369;
     background: #ccc
         }
h1,h3{
    color: beige
}
a{
    color:bisque
}
#address {
    background: #ff9;
}
.gladiolus {
    border-left: 3px dashed #f63;
}
 p{
    font-family:arial;
    font-size: 16px;
    font-weight:bold;
    font-weight: normal;
    font-style: italic;
    font-style: oblique;
    text-indent: 39px;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    text-align: inherit;
     text-decoration: underline;
     text-shadow: 5px 5px 7px #369;
     background-image: url(%D0%91%D0%B5%D0%B7%D1%8B%D0%BC%D1%8F%D0%BD%D0%BD%D1%8B%D0%B9.png);
     background-repeat: repeat-x;
     background-repeat:repeat-y;
     background-repeat: space;
     background-attachment: fixed;
     background-position: center;
     background-size: contain;
    }
    